body {
    font-family: 'Rubik', sans-serif;
    background:#eee;
}

.barfiller {
    width:100%;
    height:20px;
    background:#fff;
    position:relative;
    margin-bottom:25px;
}

.barfiller .fill {
    display:block;
    position:relative;
    width:0px;
    height:100%;
    background:#333;
    z-index:1;
}

.barfiller .tipWrap {
    display:none;
}

.barfiller .tip {
	margin-top: -2px;
	font-size: 15px;
	color: #fff;
	position: absolute;
	z-index: 2;
	display: block;
    font-weight: 600;
	margin-left: -10px;
}

/* .barfiller .tip:after {
    border:solid;
    border-color:rgba(0,0,0,.8) transparent;
    border-width:6px 6px 0 6px;
    content:"";
    display:block;
    position:absolute;
    left:9px;
    top:100%;
    z-index:9
} */